<html>
<head>
	<title> Robodad ArgusEye </title>
    	<link rel="stylesheet" href="/css/dark-hive/jquery-ui.min.css"/>
    	<link rel="stylesheet" href="/css/dark-hive/jquery.ui.theme.css"/>
    	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    	<script type="text/javascript" src="/js/jquery-ui-1.10.2.min.js"></script>
	

	<script type="text/javascript">
	
		$(document).ready(function() {
		    $('#header').addClass("ui-state-active");
		    $('#header').addClass("ui-corner-all");
		    $('#main').addClass("ui-state-default");
		    $('#main').addClass("ui-corner-all");
		    $('#main').accordion();

		});

		function doIt(sound) {
			$.ajax({
				type: "GET",
				url: "/cgi-bin/arguseye",
				data: "sound="+sound,
				success: function(response) {
				},
				error: function(e) {

				}
			});

		}

		function armMotionDetection() {
			var value;

			if ($("#motion").is(':checked')) {
				value = 1;
			} else {
				value = 0;
			}

			$.ajax({
				type: "GET",
				url: "/cgi-bin/arguseye",
				data: "armed="+value,
				success: function(response) {
				},
				error: function(e) {

				}
			});

		}

	</script>
</head>
<body>
	<div id="header">
		<h1> Robodad </h1>
		<h3> Remote Child Terrorizer </h3>
	</div>
	<div id="main">
		<h2> Manual </h2>
		<div>
			<table class="ui-state-default">
				<thead>
					<tr>
						<th>
							Play a Sound
						</th>
					</tr>	
				</thead>
				<tbody>
					<tr>
						<td>
							<input type="button" id="buzzer" value="Buzzer" onclick="doIt('buzzer');"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" id="gotobed" value="Get In Bed" onclick="doIt('getinbed');" />
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" id="liedown" value="Lie Down" onclick="doIt('liedown');"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" id="no" value="No" onclick="doIt('no');"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" id="goodgirl" value="Good Girl" onclick="doIt('goodgirl');"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" id="aria" value="Aria" onclick="doIt('aria');"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" id="lana" value="Lana" onclick="doIt('lana');"/>
						</td>
					</tr>
				
				</tbody>
			</table>
		</div>
		<h2> Automatic Operations </h2>
		<div>
			<table class="ui-state-default">
				<thead>
				</thead>
				<tbody>
					<tr>
						<td>
							Enable Motion Detection
						</td>
						<td>
							<input type="checkbox" id="motion" onchange="armMotionDetection();">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>
